/*
Styles added to the options page
*/
.nav-link {
	margin:14px 14px 0 14px;
}
.nav-link .individual-option {
	width:260px !important;
}
.wrong span, .right span {
	padding:0 1px;
	background:white;
	border:1px solid red;
}
.right span {
	border-color: green;
}
.radio-input, .checkbox-input, .optional-color-bind-checkbox {
	background:#f1f1f1;
}
div.p3-notice {
	max-width:794px;
}
.only-if-file {
	display:none;
}
.has-file .only-if-file {
	display:block;
}
.option .note p {
	margin:5px 10px 25px 0;
	color:#555;
	font-size:12px;
	line-height:1.4em !important;
	max-width:none;
}
#devsave {
	display:none;
	margin-left:10px;
}
.option-label span {
	font-weight:400;
	margin-left:15px;
	font-size:0.9em;
}
#bio_inner_bg_color-individual-option,
#bio_inner_bg_ie6_color-individual-option {
	display:none !important;
}
.blank-option {
	display:none !important;
}
.tabbed-sections {
	width:817px;
}
.p3_slider {
	width:225px;
}
/* modify masthead advanced show/hide stuff */
#masthead_modify-individual-option,
#modify_masthead_on-individual-option,
#modified_masthead_display-individual-option,
#modified_masthead_image-individual-option {
	display:none;
}
.slideshow #masthead_modify-individual-option,
.custom #masthead_modify-individual-option,
.custom .masthead-modify-true #modify_masthead_on-individual-option,
.slideshow .masthead-modify-true #modify_masthead_on-individual-option,
.custom .masthead-modify-true #modified_masthead_display-individual-option,
.slideshow .masthead-modify-true #modified_masthead_display-individual-option,
.custom .masthead-modify-true .modify-display-image #modified_masthead_image-individual-option,
.slideshow .masthead-modify-true .modify-display-image #modified_masthead_image-individual-option {
	display: block;
}
.sameline #modified_masthead_display-individual-option {
	display:none !important;
}
.sameline .masthead-modify-true #modified_masthead_image-individual-option {
	display: block !important;
}
.sameline .random #modified_masthead_image-individual-option,
.sameline .static #modified_masthead_image-individual-option {
	display:none !important;
}
/* END modify masthead */



/* SEO meta special css */
#metadesc-individual-option,
#metakeywords-individual-option,
#metadesc-individual-option textarea,
#metakeywords-individual-option textarea {
	width:500px !important;
}
#metadesc-individual-option p,
#metakeywords-individual-option p {
	max-width:450px;
}
#seo_title_home-option-section input {
	width:215px !important;
}
/* END SEO meta special CSS */


#modify_feed_images_alert-individual-option p, 
#contact_sendmail_from-individual-option p {
	width:470px;
	max-width:none !important;
}


/* border group stuff */
.border-group .p3_slider, .border-group p.p3_slider_display {
	width:190px;
}
.border-group .p3_slider {
	margin-left:5px;
	#margin-top:7px;
}
.border-options-top .border-option {
	float:left;
	margin:0 15px 9px 0;
}
.border-group .color-picker {
	margin-right:0;
}
/* END border group stuff */

.masthead-conditional {
	margin-left:0 !important;
	font-size:1em !important;
	font-weight:700 !important;
}
.first-image {
	display:none;
}
#upload-row-masthead_image1 .first-image {
	display:inline;
}
#upload-row-masthead_image1 .non-first-image {
	display:none;
}
.individual-option-multiple {
	width:225px !important;
}
a.click-for-explain {
	margin-top:5px !important;
}
span.p3-new, span.p3-enhanced {
	margin: 5px 5px 0 0;
	float: right;
	font-size: 10px;
	font-weight: 700;
	color: #21759B;
}
p.p3_new, p.p3_enhanced {
	display: none;
}
body.recent-upgrade p.p3_new, body.recent-upgrade p.p3_enhanced {
	display: block;
}
.option {
	margin-bottom:11px;
}
.options-grouping-header .option-section-label {
	background-color:transparent;
	padding-top:8px;
	color:#fff;
	
}
.option-section-label,
.upload-row-label {
	float:none;
	display:block;
	width:auto;
	padding: 6px 15px 4px 15px;
	background-color:#dddddd;
	font-weight:700;
	color:#555;
}

.individual-option,
.multiple-option-table-wrapper {
	margin-left:15px;
	padding-bottom:0px;
	#padding-bottom:0px;
	padding-top:15px;
}



.upload-row input.optional-color-bind-checkbox {
	margin-right:3px;
}
.upload-row .individual-option {
	float:left;
	width:175px;
	padding-top:0;
}
.upload-row .individual-option .radio-input {
	margin-right:3px;
}
.bg-options {
	padding:0 0 7px 16px;
}
.mini-img-wrap .image-holder {
	margin:0 0 7px 7px;
}
.mini-img-wrap .image-holder img {
	max-width:225px;
	width:auto;
}
.mini-img-btn-wrap {
	margin-bottom:6px;
}
.mini-img-wrap .image-holder,
.mini-img-wrap .image-info {
	float:none;
}
.mini-img-wrap .p3_reset_button {
	margin-right:0;
}

#p3-input-nav_excluded_pages {
	display:none; /* hidden input field for excluded pages */
}
.upload-row .individual-option { /* input fields inside of upload rows */
	margin-left:0;
	padding-bottom:0;
}
html {
  overflow-y:scroll;
}
a {
	cursor:pointer;
}
.js-info {
	display:none;
}

p.p3_slider_display {
	color:#343434 !important;
	font-size:1em;
	text-align:center;
	width:240px;
	margin-top:4px !important;
}
#subgroup-biopic .empty {
	display:none;
}
#subgroup-widgets .empty {
	display:none;
}
.add-image-upload {
	text-align:right;
	padding:7px 15px;
	color:#000;
	background:#ccc;
	display:block;
	margin-bottom:11px;
}
/* debug */
.individual-option {
	position:relative;
}
tt.debug {
	display:none;
	font-size:10px;
	color:green;
	opacity:.5;
	position:absolute;
	bottom:5px;
	left:0;
}
.checkbox-wrap { position:relative;}
tt.debug-checkbox {
	white-space:nowrap;
	position:absolute;
	top:-5px;
	left:10px;
}
tt.debug-radio, tt.debug-checkbox {
	display:none;
	font-size:10px;
	color:red;
	opacity:.3;
	line-height:10px;
	margin-left:10px;
}
.upload-row tt.debug-radio {
	position:relative;
	float:right;
	color:red;
}
.upload-row tt {
	display:none;
	position:absolute;
	bottom:-6px;
	left:0;
	font-size:10px;
	color:green;
	opacity:.5;
	font-weight:400;
}
.upload-row-label tt {
	bottom:4px;
	left:94% !important;
	color:black;
}
/* end debug */
.add-image-upload:hover {
	background:#aaa;
	color:#fff !important;
}
.subgroup {
	display:none;
}
#subgroup-nav li {
	float:left;
	margin-right:.8em;
	margin-top:1em;
}
#subgroup-nav li a {
	background:#dedede;
	font-size:95%;
	color:#666;
	padding:3px 6px;
	border:1px solid #ccc;
	text-decoration:none;
}
#subgroup-nav li.active a,
#subgroup-nav li a:hover {
	background-color:#aaa;
	border-color:#999;
	color:#fff;
}
#subgroup-nav li.active a {
	cursor:default;
}
textarea {
	overflow:auto;
	line-height:1.2em !important;
}
.extra-explain {
	display:none;
	#padding-top:13px;
	color:#666;
	padding: 5px 10px 10px 10px;
	margin-bottom: 5px;
	background-color: #e0ebf1;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-radius-bottomright: 10px;
	-webkit-border-radius-bottomleft: 10px;
}
.individual-option-multiple .font-preview {
	width:215px;
	padding:.1em .5em;
	margin-top:7px;
	margin-bottom:5px;
}
.font-preview {
	display:none;
	margin-right:20px;
	margin-top:15px;
	margin-bottom:0 !important;
	line-height:1em;
	padding:8px 10px;
	background:#fff;
	border: solid 1px #ccc;
}
.font-preview p {
	margin-top:0;
	max-width:none !important;
}
.font-preview h1 {
	margin:0;
	font-weight:400;
}
.font-preview a {
	cursor:pointer;
	text-decoration:none;
}
#p3_limited_options {
	color:#f33;
	background:#ffa;
	border:2px solid #ff3;
}
.for1, .for2, .for3 {
	display:none;
}
#headerlayout-viewer-wrapper {
	float:left;
}
#header-thumbs {
	margin:24px 0 0 217px;
}
#headerlayout-viewer {
	background-image: url(http://prophoto.s3.amazonaws.com/img/layouts_big.gif);
	width:200px;
	border:1px solid #666;
	height:125px;
	overflow:hidden;
}
.header-thumb-button {
	height:34px;
	float:left;
	width:55px;
	padding:3px;
	border:4px #f1f1f1 solid;
	border-top-width:4px;
	border-bottom-width:3px;
	border-right-width:5px;
	border-left-width:5px;
}
.hovered {
	background:#86da7c;
}
.active-thumb {
	background:#666;
}
.header-thumb-button div {
	height:34px;
	width:55px;
	background-image:url(http://prophoto.s3.amazonaws.com/img/layout_thumbs.gif);
}



.submit {
	background: #EAF2FA;
	border-top:none;
	padding:.8em;
	margin-top:0 !important;
}
.submit input {
	float:left;
}

div.extra-explain p {
	max-width:none;
	font-style:normal;
	margin: 5px 0 0 0;
	font-size:11px;
}
div.extra-explain p.explain-link {
	font-weight:bold;
	font-size: 11px;
}
/*div.extra-explain-multiple p {
	margin:0 38px 8px 0;
	padding-top:2px;
}*/
.option-down, .option-open .option-up {
	display:inline;
}
.option-up, .option-open .option-down {
	display:none;
	color:#666;
}
.aot-view, .shown .aot-hide {
	display:inline !important;
}
.aot-hide, .shown .aot-view {
	display:none !important;
}
.shown a {
	color:#666;
}
.wrap {
	font-size:11px;
}
.p3_picker_wrap {
	z-index:5000;
}
input, textarea {
	font-size:11px;
}
.options-grouping-header {
	background: #999;
	padding:0;
	margin:12px 0 8px 0;
	font-size:14px;
	height:32px;
}
.iehelper {
	padding:0;
	margin:0;
	text-align:left;
}
.image-inline {
	border: 1px solid #ccc;
	margin:5px 0 9px 0;
}
.header .option-section-label {
	width:auto;
}

.multiple-option-table {
	padding-top:16px !important;
	padding-top:0 !important; /* IE blows */
	#margin-top:16px !important;
}
.individual-option p {
	max-width:340px;
	line-height:1.2em;
	margin-top:8px;
	font-size:11px;
	color: #777;
}
*:first-child+html .individual-option p {
	margin-bottom:12px;	
}
span.color-optional {
	color: #666;
}
p span.color-optional {
	display:none;
}
.not-multiple {
	padding-top:15px;
	padding-bottom:13px;
	#padding-bottom:0px;
	#margin-bottom:0px !important;
}
.option-section {
	background:#f1f1f1;
	margin-top:6px;
}
.option-section input {
	margin-right:4px;
}
.hidden-title {
	padding:0px 8px 9px 0;
}
.spacer {
	height:5px;
}
.individual-option-multiple {
	width:240px;
	float:left;
	display:inline;
	padding:0 45px 13px 0;
}
.individual-option-multiple p {
	margin-top:0;
}
.onecolumn {
	width: auto !important;
}
.onecolumn p {
	margin-bottom:26px !important;
}
.multiple-option-table td {
	font-size:11px !important;
	vertical-align:top !important;
}
.multiple-option-table td p {
	margin-top:7px;
}
.multiple-option-table .individual-option {
	margin-left:0;
}

.start-hidden {
	display:none;
}
.wrap {
	margin-bottom:2em;
}

ul#maintabs {
	list-style:none;
	margin:0;
	padding:0;
}
ul#maintabs li {
	float:left;
	margin:7px 5px 2px 0;
}
ul#maintabs a {
	background:#e3e3e3 url(http://prophoto.s3.amazonaws.com/img/postbox-bg.jpg) repeat-x top left;
	display:block;
	padding:3px 4px !important;
	font-size:12px;
	border:1px solid #ccc;
}
ul#maintabs a:link {
	color:#555;
	text-decoration:none;
}
ul#maintabs a:visited {
	color:#555;
	text-decoration:none;	
}
ul#maintabs a.active, ul#maintabs a:hover {
	border: 1px solid #999;
	background: #999 url(http://prophoto.s3.amazonaws.com/img/header_bg.jpg) repeat-x top left;
	color:#fff !important;
}


div.hidden-title {
	background: #eaf2fa;
	padding:0 0 10px 0;
}
 div.hidden-title .upload-row-main {
	padding-top:0;
}
.self-clear:after { /* self-clear the float */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .self-clear { /* for IE 5,6 */
	height: 1%;
} 
*:first-child+html .self-clear { /* for IE7 */
	min-height: 1px;
}

#contact_log-individual-option p {
	max-width:75%;
}
#contact_log-individual-option p.data {
	margin:0 0 18px 0;
	color:#333;
	padding-left:18px;
	padding-bottom:18px;
	border-bottom:1px dotted #ccc;
}

#reorder_menu_sortable li {
	display:block;
	float:left;
	padding:3px;
	cursor:move;/*e-resize;*/
	background:#fff url(http://prophoto.s3.amazonaws.com/img/header_bg.jpg) top left repeat-x;
	border:1px solid #666;
	margin:2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#reorder_menu_sortable .dragged {
	background:#EAF2FA url() top left repeat-x;
	border:1px solid #21759B;
}

#reorder_menu_sortable .placeholder {
	background:#ffe;
	border:1px dashed #21759B;
}

#reorder_menu_sortable li ul {
	display:none; /* hide dropdown list such as months or categories */
}
#post_signature-individual-option p {
	max-width:500px;
	width:500px;
}

/* masthead img sorting */
#masthead_reorder-individual-option {
	padding-top:0;
}
#masthead_order li {
	margin-bottom:2px;
}
#masthead_order li img {
	cursor:row-resize;
	max-height:50px;
	width:auto;
}

/* font groups */
.font-group-subsection-label-visited {
	margin-left:18px;
}
.p3-font-group-subgroup-links {
	clear:left;
	padding-top:9px;
}
.nonlink-section {
	margin-right:18px;
}
.p3-font-group-subgroup {
	display:block;
}
.font-group-subsection-label {
	float:left;
	padding:0px 5px 0 0;
}
.p3-font-group {
	min-width:400px;
}
.p3-font-group .color-bind {
	font-style:italic;
	display:inline;
	margin-right:9px;
}
.p3-font-group .bound {
	display:none;
}
.p3-font-group .optional-color-bind-checkbox {
	float:left;
	margin-top:4px;
}
.p3-font-group .p3_swatch {
	padding:3px 7px;
}
.p3-font-group .p3-colordiv-wrap {
	margin-top:0;
}
.p3-font-group .p3-colordiv-wrap input {
	margin-right:0;
}
.p3-font-group .p3-colordiv-wrap,
.p3-font-group select {
	float:left;
	margin-right:5px;
}	
.font-button {
	float:left;
	margin:2px 5px 0 0;
	cursor:pointer;
}
.font-button {
	display:block;
	height:20px;
	width:20px;
}
.font-button-weight {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_bold.png);
}
.font-button-style {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_italic.png);
}
.font-button-transform {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_transform.png);
}
.font-button-lineheight {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_lineheight.png);
}
.font-button-decoration {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_decoration.png);
}
.font-button-letterspacing {
	background:url(http://prophoto.s3.amazonaws.com/img/btn_letterspacing.png);
}
.font-button-weight-val-700,
.font-button-style-val-italic,
.font-button-transform-val-none,
.font-button-lineheight-val-1,
.font-button-decoration-val-underline,
.font-button-hover_decoration-val-underline,
.font-button-letterspacing-val--1px {
	background-position: 0 -20px;
}
.font-button-weight-val-400,
.font-button-style-val-normal,
.font-button-transform-val-uppercase,
.font-button-lineheight-val-125,
.font-button-decoration-val-none,
.font-button-hover_decoration-val-none,
.font-button-letterspacing-val--2px {
	background-position: 0 -40px;
}
.font-button-transform-val-lowercase,
.font-button-lineheight-val-15,
.font-button-decoration-val-overline,
.font-button-hover_decoration-val-overline,
.font-button-letterspacing-val-1px {
	background-position: 0 -60px;
}
.font-button-lineheight-val-175,
.font-button-decoration-val-line-through,
.font-button-hover_decoration-val-line-through,
.font-button-letterspacing-val-2px {
	background-position: 0 -80px;
}
.font-button-lineheight-val-2 {
	background-position: 0 -100px;
}
.inline-option {
	float:left;
}
.inline-text-option input, input.px-input {
	text-align:right;
	margin-right:2px;
	padding-right:0;
}
.hidden-input {
	display:none;
}
/* end font groups */